<!doctype html>
<html lang="en">

<head>
    <title id="title"></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="javascript/account_update.js"></script>
    <script src="javascript/constantes.js"></script>

</head>

<body>
    <header>
        <iframe src="snippets/header.html" frameborder="0" style="width: 100%; height: auto;" id="header"></iframe>
    </header>
    <main>

        <div class="container mt-4">
            <div class="row">
                <!-- Coluna para os posts no centro da tela 
                <div class="col-md-7">
                    <h3 class="mb-2 font-weight-normal" style="color: white;">Seus Posts:</h3>
                    {% if blog_posts %}
                    <ul class="list-group">
                        {% for post in blog_posts %}
                        <div class="blog-post-container mt-3">
                            {% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="list-group">
                        <div>
                            <li class="list-group-item d-flex justify-content-center">
                                <div>
                                    <a href="{% url 'blog:create' %}" style="text-decoration: none !important"
                                        class="stretched-link link-dark">Você não tem nenhuma postagem! Crie uma
                                        clicando aqui</a>
                                </div>
                            </li>
                        </div>
                    </ul>
                    {% endif %}
                </div>
                -->
                <!-- Coluna para o formulário de mudança de email e senha (menor) -->

                <div class="col-md-5 mt-2 ">
                    <div class="card offset-md-2 mt-5 text-bg-dark">
                        <div class="card-header">
                            <h3 class="text-center">Conta</h3>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                
                                <div class="mb-3 ">
                                    <label for="email" class="form-label ">Novo email:</label>
                                    <input type="email" name="email" class="form-control text-bg-dark" id="email"
                                        placeholder="Digite seu novo e-mail" >
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Novo Username:</label>
                                    <input type="text" name="username" class="form-control text-bg-dark" id="username"
                                        placeholder="Digite seu novo Username">
                                </div>

                                <div class="d-flex flex-column">
                                    <a class="m-auto" href="../public/registration/password_change.html">Trocar Senha</a>
                                </div>

                                <div class="mt-3 d-flex justify-content-between">
                                    <button type="submit" id="btnSaveChanges" class="btn btn-warning">Salvar Mudanças</button>
                                    <a role="button" href="../public/delete_account.html" class="btn btn-danger">Deletar
                                        Conta</a>
                                </div>
                                <p></p>
                                <div id="msg" class="text-center" ></div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </main>
    <footer>
        <iframe src="snippets/footer.html" frameborder="0" style="width: 100%; height: auto;" id="footer"></iframe>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>